<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
<h2><b>Eduard Alberto Avendaño Camacho</b><br>
<a href="mailto:ea.avendano@uniandes.edu.co">ea.avendano@uniandes.edu.co</a><br>
Estudiante de Maestría de Ingeniería de Sistemas y Computación.<br>
Administrador Público.<br>
Ingeniero de Sistemas.<br>
</h2>
</p>
<h2><b>Cristian David Santiago Gutierrez Gil</b><br>
<a href="mailto:cd.gutierrez@uniandes.edu.co">cd.gutierrez@uniandes.edu.co</a><br>
Estudiante de Maestría de Ingeniería de Sistemas y Computación.<br>
Ingeniero de Sistemas.<br>
</h2>
</p>