<% provide(:title, "Ayuda") %>
<h1>Ayuda</h1>
<p>
  Las paginas consultadas para realizar este proyecto son:<br>
  <a href="http://www.railstutorial.org/">Rails Tutorial</a> Tuturial para aprender a usar Ruby on Rails. <br>
  <a href="https://c9.io">Cloud9</a> Ambiente de desarrollo integrado. <br>
  <a href="http://www.rubular.com/">Rubular</a> Editor de expresiones regulares. <br>

</p>