<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Las paginas consultadas para realizar este proyecto son:<br>
  <a href="http://www.railstutorial.org/">Rails Tutorial</a> Tuturial para aprender a usar Ruby on Rails. <br>
  <a href="https://c9.io">Cloud9</a> IDE en linea. <br>
  <a href="http://www.rubular.com/">Rubular</a> Editor de expresiones regulares. <br>
  <h1>Pendientes</h1>
<ul>
  <li>Al crear un user/empresa, generar una URL NameEmpresa+Numero, donde se almacenaran los proyectos</li>
  <li>
  Dise単o:
    <ul>
      <li>Email</li>
      <li>Name</li>
      <li>Apellidos</li>
      <li>DibujoOriginal (png, jpg, png, jpeg) min (800x600)</li>
      <li>DibujoProfecesado (png) (800x600)</li>
      <li>Precio</li>
      <li>Fecha</li>
      <li>Estado ("En proceso","Disponible")</li>
    </ul>
  </li>
    <li>Listado proyectos Admin : Ordenado de forma decendente por fecha de creacion. (Page size 10)
  Ver:
  <ul>
    <li>Email</li>
    <li>Name</li>
    <li>Apellidos</li>
  </ul>
  </li>
  <li>
  Listado dise単ador : Agrupado por proyectos y Ordenado de forma decendente por fecha de creacion. (Page size 10)
    <ul>
      <li>Dibujo</li>
      <li>Fecha</li>
    </ul>
  </li>
  <li>
  Proceso en Batch: 
  Leer "En proceso"
    <ul>
      <li>Formato png</li>
      <li>Tama単o	800x600</li>
      <li>Modificar Imagen: Name completo y Fecha</li>
      <li>Cambiar a "Disponible"</li>
      <li>Enviar email al dise単ador</li>
    </ul>
  </li>
  <li>
  Pruebas de carga en <b>JMETER</b>
  </li>
  <li>
  Arquitectura
  </li>
  <li>
  Documento de resultados
  </li>
</ul>
</p>