<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Las paginas consultadas para realizar este proyecto son:<br>
  <a href="http://www.railstutorial.org/">Rails Tutorial</a> Tuturial para aprender a usar Ruby on Rails. <br>
  <a href="https://c9.io">Cloud9</a> IDE en linea. <br>
  <a href="http://www.rubular.com/">Rubular</a> Editor de expresiones regulares. <br>
  <a href="https://www.digitalocean.com/community/tutorials/how-to-setup-ruby-on-rails-with-postgres">Instalador Postgres</a><br>
  <a href="https://gorails.com/setup/ubuntu/14.04">Instalador Postgres Ubuntu 14.04</a><br>
  <a href="http://rm-rf.es/linux-ejecuta-visualiza-comandos-periodicamente-watch/">Ejecuta visualiza comandos periodicamente watch</a><br>
  <a href="http://javimoreno.es/blog/2013/03/25/variables-de-entorno-en-rails/">Variables de entorno</a>
  <a href="https://help.ubuntu.com/community/SettingUpNFSHowTo">NFS en Ubuntu</a>
  <h1>Pendientes</h1>
<ul>
  <li>Al crear un user/empresa, generar una URL NameEmpresa+Numero, donde se almacenaran los proyectos</li>
</ul>
</p>