<% provide(:title, "About us") %>
<h1>About us</h1>
<p>
  Una nueva compañía de cloud denominada DesignMatch (ver ejemplo similar real en <a href="https://dribbble.com/">https://dribbble.com/</a>) 
  desea crear una aplicación de Software como Servicio (SaaS) que será ofrecida a empresas de todos los tamaños (pequeñas, medianas y grandes) 
  para que estas puedan solicitar abiertamente diseños que necesiten en sus negocios.<br>
El modelo general de funcionamiento del SaaS se basa en que un administrador de una empresa entra al portal <%= link_to "www.designmatch.com",    root_path %> y crea una cuenta. 
Una vez la cuenta ha sido creada el administrador puede proceder a configurar los proyectos de los temas sobre los cuales necesita diseños.
Por cada empresa el sistema genera una URL única que puede publicar en TV, su portal Web o enviar a diferentes diseñadores para que estos puedan entrar
y subir los diseños de cada proyecto publicado.
</p>