<p id="notice"><%= notice %></p>

<h1>Listing Proyects</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @desin.each do |design| %>
      <tr>
        <td><%= proyect.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyect', new_proyect_path %>
