<li id="proyect-<%= proyect.id %>">
  <span class="name"><%= link_to proyect.name, proyect %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(proyect.created_at) %> ago.
    <% if current_user?(proyect.user_id) %>
      <%= link_to "delete", proyect, method: :delete, param: proyect,
                                       data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
</li>