<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido,</h1>
    <p>
      Tu Diseño ha sido procesado satisfactoriamente:
      
    </p>
    <p>
      El estado de tu diseño es Terminado.   
      Tu cliente ya puede verlo en su lista de diseños del proyecto.
    </p>
    <p>
    saludos
    </p>
  </body>
</html>