<footer class="footer">
  <small>
    The proyect of
    <a href="https://github.com/201520-ISIS4426-01-Desarrollo-Cloud/Grupo13-201610">Team 13</a>
    To the class of     
    <a href="http://moodleinstitucional.uniandes.edu.co/course/view.php?id=856">CloudComputing</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About us",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>